{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img or page.title %}

{% if page.cover-img %}
<div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
     {% for bigimg in page.cover-img %}
     {% assign imgnum=forloop.index %}
     {% for imginfo in bigimg %}
     {% if imginfo[0] %}
     data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
     data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
     {% else %}
     data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
     {% endif %}
     {% endfor %}
     {% endfor %}
></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
    {% if page.cover-img %}
    <div class="big-img intro-header">
        <div class="container-md">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="{{ include.type }}-heading">
                        <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
                        {% if page.subtitle %}
                        {% if include.type == "page" %}
                        <hr class="small">
                        <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
                        {% else %}
                        <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        {% endif %}

                        {% if include.type == "post" %}
                        <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
                        {% if page.last-updated %}
                        <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
                        {% endif %}
                        {% if page.readtime %}
                        {% include readtime.html %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <span class='img-desc'></span>
    </div>
    {% endif %}
    <div class="intro-header no-img">
        <div class="container-md">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                    <div class="{{ include.type }}-heading">
                        <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
                        {% if page.subtitle %}
                        {% if include.type == "page" %}
                        <hr class="small">
                        <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
                        {% else %}
                        <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
                        {% endif %}
                        {% endif %}

                        {% if include.type == "post" %}
                        <span class="post-meta">Posted on {{ page.date | date: date_format }}</span>
                        {% if page.last-updated %}
                        <span class="post-meta">
                <span class="d-none d-md-inline middot">&middot;</span>
                Last updated {{ page.last-updated | date: date_format }}
              </span>
                        {% endif %}
                        {% if page.readtime %}
                        {% include readtime.html %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}


<!-- Portfolio Grid Section -->
<section id="skillset">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skill Set</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="intro-text">
                <h3>Current Focus</h3>
                <div class="row">
                    {% for skill in site.skills.current_focus %}
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                        <h3 class="skills"><b class="nerd-fonts {{ skill.devicon }}"></b>
                            <br/>
                            <div>{{ skill.title }}</div>
                        </h3>
                        <br/>
                        <!-- /col -->
                    </div>
                    {% endfor %}
                    <!-- /row -->
                </div>
                <h3>Experience with</h3>
                  <div class="row">
                    {% for skill in site.skills.technical %}
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                        <h3 class="skills"><b class="nerd-fonts {{ skill.devicon }}"></b>
                            <br/>
                            <div>{{ skill.title }}</div>
                        </h3>
                        <br/>
                        <!-- /col -->
                    </div>
                    {% endfor %}
                    <!-- /row -->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
